html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
html *, html *:before, html *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
h1:nth-of-type(1), h2:nth-of-type(1), h3:nth-of-type(1), h4:nth-of-type(1), h5:nth-of-type(1), h6:nth-of-type(1) {
  font-size: 36px;
}
h1:nth-of-type(2), h2:nth-of-type(2), h3:nth-of-type(2), h4:nth-of-type(2), h5:nth-of-type(2), h6:nth-of-type(2) {
  font-size: 30px;
}
h1:nth-of-type(3), h2:nth-of-type(3), h3:nth-of-type(3), h4:nth-of-type(3), h5:nth-of-type(3), h6:nth-of-type(3) {
  font-size: 24px;
}
h1:nth-of-type(4), h2:nth-of-type(4), h3:nth-of-type(4), h4:nth-of-type(4), h5:nth-of-type(4), h6:nth-of-type(4) {
  font-size: 18px;
}
h1:nth-of-type(5), h2:nth-of-type(5), h3:nth-of-type(5), h4:nth-of-type(5), h5:nth-of-type(5), h6:nth-of-type(5) {
  font-size: 12px;
}
h1:nth-of-type(6), h2:nth-of-type(6), h3:nth-of-type(6), h4:nth-of-type(6), h5:nth-of-type(6), h6:nth-of-type(6) {
  font-size: 6px;
}

.w3-row:after {
  content: "";
  display: table;
  clear: both;
}

.w3-col {
  float: left;
  width: 100%;
}
.w3-col.s1 {
  width: 8.3333333333%;
}
.w3-col.s2 {
  width: 16.6666666667%;
}
.w3-col.s3 {
  width: 25%;
}
.w3-col.s4 {
  width: 33.3333333333%;
}
.w3-col.s5 {
  width: 41.6666666667%;
}
.w3-col.s6 {
  width: 50%;
}
.w3-col.s7 {
  width: 58.3333333333%;
}
.w3-col.s8 {
  width: 66.6666666667%;
}
.w3-col.s9 {
  width: 75%;
}
.w3-col.s10 {
  width: 83.3333333333%;
}
.w3-col.s11 {
  width: 91.6666666667%;
}
.w3-col.s12 {
  width: 100%;
}
@media (min-width: 993px) {
  .w3-col.m1 {
    width: 8.3333333333%;
  }
  .w3-col.m2 {
    width: 16.6666666667%;
  }
  .w3-col.m3 {
    width: 25%;
  }
  .w3-col.m4 {
    width: 33.3333333333%;
  }
  .w3-col.m5 {
    width: 41.6666666667%;
  }
  .w3-col.m6 {
    width: 50%;
  }
  .w3-col.m7 {
    width: 58.3333333333%;
  }
  .w3-col.m8 {
    width: 66.6666666667%;
  }
  .w3-col.m9 {
    width: 75%;
  }
  .w3-col.m10 {
    width: 83.3333333333%;
  }
  .w3-col.m11 {
    width: 91.6666666667%;
  }
  .w3-col.m12 {
    width: 100%;
  }
}
@media (min-width: 1205px) {
  .w3-col.l1 {
    width: 8.3333333333%;
  }
  .w3-col.l2 {
    width: 16.6666666667%;
  }
  .w3-col.l3 {
    width: 25%;
  }
  .w3-col.l4 {
    width: 33.3333333333%;
  }
  .w3-col.l5 {
    width: 41.6666666667%;
  }
  .w3-col.l6 {
    width: 50%;
  }
  .w3-col.l7 {
    width: 58.3333333333%;
  }
  .w3-col.l8 {
    width: 66.6666666667%;
  }
  .w3-col.l9 {
    width: 75%;
  }
  .w3-col.l10 {
    width: 83.3333333333%;
  }
  .w3-col.l11 {
    width: 91.6666666667%;
  }
  .w3-col.l12 {
    width: 100%;
  }
}

.w3-amber {
  background-color: #ffc107 !important;
  color: #000 !important;
}

.w3-text-amber {
  color: #ffc107 !important;
}

.w3-border-amber {
  border-color: #ffc107 !important;
}

.w3-aqua {
  background-color: #00ffff !important;
  color: #fff !important;
}

.w3-text-aqua {
  color: #00ffff !important;
}

.w3-border-aqua {
  border-color: #00ffff !important;
}

.w3-blue {
  background-color: #2196F3 !important;
  color: #000 !important;
}

.w3-text-blue {
  color: #2196F3 !important;
}

.w3-border-blue {
  border-color: #2196F3 !important;
}

.w3-btn, .w3-button {
  border: none;
  padding: 8px 16px;
  display: inline-block;
  transition: all 0.3s;
}
.w3-btn:hover, .w3-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.w3-padding-8 {
  padding: 8px !important;
}

.w3-margin-8 {
  margin: 8px !important;
}

.w3-padding-16 {
  padding: 16px !important;
}

.w3-margin-16 {
  margin: 16px !important;
}

.w3-padding-24 {
  padding: 24px !important;
}

.w3-margin-24 {
  margin: 24px !important;
}

.w3-padding-32 {
  padding: 32px !important;
}

.w3-margin-32 {
  margin: 32px !important;
}

.w3-padding-40 {
  padding: 40px !important;
}

.w3-margin-40 {
  margin: 40px !important;
}

.w3-padding-48 {
  padding: 48px !important;
}

.w3-margin-48 {
  margin: 48px !important;
}

.w3-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}
.w3-card-4 {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes w3-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.w3-spin {
  animation: w3-spin 2s linear infinite;
}

@media (max-width: 600px) {
  .w3-hide-small {
    display: none !important;
  }
  .w3-modal-content {
    width: 100% !important;
  }
}/*# sourceMappingURL=styles.css.map */